@model homeFinanceMVC.Models.Cuenta

@{
    ViewBag.Title = "EditCuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info" role="alert">
    <h3>Modificar Datos de la Cuenta</h3>
</div>

<br />
<br />

@using (Html.BeginForm("EditCuenta", "Cuenta", FormMethod.Post))
{
    @Html.HiddenFor(x => x.IdCuenta)

    <div class="form-horizontal">
        <div class="container">
            <fieldset>
   
                <div class="form-group">
                    <label class="control-label col-md-2">Descripción</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.DescCuenta, new { @class = "form-control inputstl" })
                        @Html.ValidationMessageFor(model => model.DescCuenta, "", new { @class = "label label-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Cuenta</label>
                    <div class="col-md-10">
                        @Html.DropDownList("idUsuario", new SelectList(ViewBag.listaUsuarios, "idUsuario", "nombre"), new { @class = "form-control inputstl bor" })
                        @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "label label-danger" })
                    </div>
                </div>

                <br />
                <br />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar Datos" class="btn btn-primary" />
                        @Html.ActionLink("Cancelar", "ManupularDatosCuenta", null, new { @class = "btn btn-warning" })
                    </div>
                </div>

            </fieldset>
        </div>
    </div>

    <style>
        .marg {
            margin: 0 10px 0 2px;
        }

        .inputstl {
            padding: 9px;
            border: solid 1px #4B718B;
            outline: 0;
            background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CDDBE4), to(#FFFFFF));
            background: -moz-linear-gradient(top, #FFFFFF, #CDDBE4 1px, #FFFFFF 25px);
            box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
            -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
            -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
        }

        .bor {
            border: none;
        }
    </style>

    @section Scripts {

         <script>
            $(document).ready(function () {
                if ($("#mens").val().length > 0) {
                    swal("Enhorabuena!", "Cuenta Modificada con Exito!", "success");
                }

            });
        </script>

    }
}


