@model PagedList.IPagedList<homeFinanceMVC.Models.Usuario>
@using PagedList.Mvc;
@using homeFinanceMVC.Models;
@{
    ViewBag.Title = "ManipularDatos";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (TempData["mesaje"] != null)
    {
        <input hidden="hidden" value="10" id="mens" />
    }

    if (TempData["mesajeDelete"] != null)
    {
        <input hidden="hidden" value="10" id="del" />
    }

    int noDeleta = 0;
    if (TempData["mesajeDeleteCancelado"] != null)
    {
        <input hidden="hidden" value="10" id="delCancelado" />
        noDeleta = 1;
    }

}

<div class="alert alert-info" role="alert">
    <h3>Lista de Usuarios</h3>
</div>

<div class="table-responsive" style="width:95%;margin-left:2.5%">
    <table class="table table-condensed table-hover sortable table-responsive">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="5" class="text-center">No hay usuarios registrados !!!</td>
            </tr>
        }
        else
        {
            <thead>
                <tr class="" style="background-color:cornflowerblue;color:darkblue">
                    <th data-defaultsign="_19">ID</th>
                    <th data-defaultsign="AZ">Nombre</th>
                    <th data-defaultsign="AZ">Login</th>
                    <th data-defaultsign="AZ">Tipo</th>
                    <th data-defaultsort="AZ">Situación</th>
                    <th>Imagen</th>
                    <th width="10%">Modificar</th>
                    <th width="10%">Borrar</th>
                </tr>
            </thead>

            string descTipo = "";
            string descSit = "";

            foreach (var item in Model)
            {
                if (item.Tipo == 1)
                {
                    descTipo = "Administrador";
                }
                else
                {
                    descTipo = "Usuario";
                }

                if (item.Situacion == 0)
                {
                    descSit = "Inactivo";
                }
                else
                {
                    descSit = "Activo";
                }

                <tr>
                    <td>@item.IdUsuario</td>
                    <td>@item.Nombre</td>
                    <td>@item.Login</td>
                    <td>@descTipo</td>
                    <td>@descSit</td>
                    <td width="10%"><img src="@item.Ruta" width="60%" height="auto" alt="" /></td>
                    <td>
                        <button class="btn btn-warning" onclick="location.href='@Url.Action("EditUsuario", "Usuario", new { id = @item.IdUsuario })'" type="button">Modificar</button>
                    </td>
                    <td>
                        <a href="#myModal" class="btn btn-danger delete" data-toggle="modal" data-id="@item.IdUsuario">Eliminar</a>
                    </td>
                </tr>
            }
        }
    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ManipularDatos", new { page }))
</div>


@section scripts
{

    <script>
        $(document).ready(function () {
            if ($("#del").val().length > 0) {
                swal("Enhorabuena!", "Usuario Borrado con Exito!", "success");
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            if ($("#delCancelado").val().length > 0) {
                swal("Error!", "No se Puede Borrar el Usuario Logeado!", "error");
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            if ($("#mens").val().length > 0) {
                swal("Enhorabuena!", "Usuario Modificado con Exito!", "success");
            }
        });
    </script>

    <script>
        $(".delete").click(function (eve) {
            $("#modal-content").load("/Usuario/DelUsuario/" + $(this).data("id"));
        });
    </script>
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Desea Borrar el Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-content">
                    <div style="text-align:center;display:none" id="loaderDiv">
                        <img src="~/imagenes/loader.gif" width="150" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!-- Modal -->
